/*
 * Copyright © 2016 I.B.M. All rights reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the “License”);
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an “AS IS” BASIS,Li
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

#input-wrapper {
    padding: 1.25rem;
    background: white;
    position: relative;
}

#input-mic-holder {
    height: 3rem;
    width: 3rem;
    position: relative;
}

#input-mic {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 1.5rem;
    transition: 0.4s;
    cursor: pointer;
    background-color: #BCC8C8;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 55%;
}

#input-mic.inactive-mic {
  background-image: url("../images/mic-off.svg");
}

#input-mic.active-mic, #input-mic:active {
  background-image: url("../images/mic-on.svg");
  background-color: #32D0B6;
  border: 0.25rem solid #01745E;
}

#output-audio.audio-on {
  background-image: url("../images/audio-on.svg");
}

#output-audio.audio-off {
  background-image: url("../images/audio-off.svg");
}

#output-audio {
    position: absolute;
    z-index: 10;
    left: 2rem;
    top: 1rem;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 1.75rem;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
}


/*
#input-mic.active-mic {
    animation: mic-pulse 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes mic-pulse {
    0% {
      border-color: black;
    }
    25% {
      border-color: #8C101C;
    }
    50% {
      border-color: #FF5050;
    }
    75% {
      border-color: #8C101C;
    }
    100% {
      border-color: black;
    }
}
*/

.input-outline {
    background-color: white;
    display: block;
    margin-left: 0.25rem;
    text-align: left;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#user-input {
    width: 100%;
    max-width: 90%;
    background: white;
    font-family: "Helvetica Neue for IBM Roman", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.25rem;
    color: #323232;
    letter-spacing:  0.01875rem;
    line-height:  1.625rem;
    border: none;
    outline: none;
    border-bottom: 0.0625rem solid #AEAEAE;
    padding-left: 0.3125rem;
    margin-bottom: -0.125rem;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    transform: translate(0%,-50%);
}

#user-input.underline {
    border-bottom:  0.125rem solid #00B4A0;
}

#user-input::-webkit-input-placeholder {
    font-style: italic;
    color: #C9C9C9;
}

#user-input::-moz-placeholder {
    font-style: italic;
    color: #C9C9C9;
    opacity: 1;
}

input#user-input:-moz-placeholder {
    font-style: italic;
    color: #C9C9C9;
    opacity: 1;
}

#user-input:-ms-input-placeholder {
    font-style: italic;
    color: #C9C9C9;
}

::-ms-clear {
    display: none;
}

#user-input-dummy {
    position: absolute;
    white-space: pre;
    top: 0;
    left: -1000%;
    opacity: 0;
}

#chat-scroll-wrapper{
    position: absolute;
    bottom:  5.625rem;
    padding-top: 0.3125rem;
    margin-left: 1.25rem;
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
    /* background: rgba(0,0,0,0.3); */
}

#chat-flow {
	text-align: left;
	/*width: calc(100% + 20px);*/
	/*width: calc(82% + 0.27rem);*/
	max-height: 26.625rem;
    overflow: hidden;
    width:100%;
}

#chat-flow:hover {
    overflow-y: auto;
}

.user, .watson {
    display: block;
    overflow: visible;
    position: relative;
    margin-left: 5.3125rem;
    max-width:  60rem;
}

.watson-message,
.user-message {
    border-radius: 0.375rem;
    font-family: "Helvetica Neue for IBM Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    color: #FFFFFF;
    padding: 1.25rem 1.875rem;
    display: inline-block;
    margin: 0.3125rem 0;
    max-width: calc(100% - 5.3125rem);
    word-wrap: break-word;
}

.watson-message {
    background: #b6006a;
    /* width: 100%; */
    float: right;
    right: 4rem;
    position: relative;
    text-align: left;
}

.watson-message::before {
    content: "";
    position: absolute;
    right:-0.7rem;
    border-width: 0.625rem 0.75rem 0.625rem 0;
    border-style: solid;
    border-color: transparent #b6006a transparent transparent;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.user-message {
	background: #00b4a0;
}

.user-message::before {
    content: "";
    position: absolute;
    left: -0.6875rem;
    border-width: 0.625rem 0.75rem 0.625rem 0;
    border-style: solid;
    border-color: transparent #00B4A0 transparent transparent;
}

/* .user img {
    height: 3.75rem ;
    position: absolute;
    left: -4.6875rem;
    top: 0.3125rem;
} */

.user img {
    height: 60px;
    position: absolute;
    left: -4.6875rem;
    top: 10px;
    border-radius: 37px;
    width: 60px;
}

/* .watson-message img {
    width: 50px;
    height: 50px;
    position: absolute;
    left: -3.6rem;
}
.watson-message img {
    width: 50px;
    height: 50px;
    position: absolute;
    left: -3.6rem;
} */

/* .watson-message img {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 45rem;
    top:1.6rem;
} */
.watson-message img {
    width: 60px;
    height: 60px;
    position: absolute;
    top: -0.2rem;
    right: -4.6rem
    /* left: 36rem; 
    top:1.6rem;
    right: 0; */
    
}

.user-message span {
    border-radius: 80px;
    background-color: #00b4a0;
    padding: 9px 13px 11px 14px;
    position: absolute;
    left: -59px;
    top: 15px;
}

.watson .pre-bar::before {
    border-left-color: white;
}
