/*
 * Copyright © 2016 I.B.M. All rights reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the “License”);
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an “AS IS” BASIS,Li
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

html {
    width: 100%;
    height: 100%;
}

body {
	margin: 0;
	/*width: 100%;
    height: 100%;
    position: relative;*/
    /* background-image: url(../images/aha-bg_1.jpg); */
    background-color: #683d62!important;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
}

#dark-overlay {
    background: black;
    opacity: 0.62;
    z-index: 40;
}

#clear-overlay {
    background: transparent;
    z-index: 60;
}

.between-overlays {
    z-index: 50 !important;
}

.hide {
    display: none !important;
}

.fade {
    transition: opacity 3s;
    -moz-transition: opacity 3s; /* Firefox */
    -webkit-transition: opacity 3s; /* Safari and Chrome */
    -o-transition: opacity 3s; /* Opera */
}

.fade-out {
    opacity: 0;
}

.close {
    padding: 0.625rem;
    cursor: pointer;
    width: 1.875rem;
    outline: none
}

.close:hover {
    animation: hover 0.2s 1 ease-out;
    animation-fill-mode: forwards;
}

@keyframes hover{
    100% {
        transform: scale(1.1);
    }
}
.responsive-columns-wrapper {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -ms-display: flex;
    -ms-flex-direction: row;
}

.responsive-column {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: auto;
}

/* .pre-bar::before {
    border-left: solid 0.25rem #9E4CE6;
    border-radius: 0.25rem;
    content: "";
    margin-right: 0.4375rem;
    margin-left: -0.625rem;
} */
/* .pre-bar::before {
    margin-right: 0.6rem;
    margin-top: 1.2rem;
} */



#svg_wrapper {
    margin: auto;
    overflow: hidden;
    position: relative;
/*Commented by Koti*/
    /*min-width: 325px;
    max-width: 1100px;*/
}

#svg_size {
    font-size: 0;
    position: relative;
    height: 0;
    width: 100%;
    padding: 0;
    padding-bottom: calc( 100% * 704 / 1024 );
    display: none;
}

#svg_canvas{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.nav_active {
    animation: nav 0.8s infinite linear;
}

@keyframes nav {
    100% {
        fill: green;
    }
}
/*Koti*/
.chat-container {
    width:70%;
    margin: 0 auto;
    height:300px!important;
}
.vidoContainer1 {
    width: 100%;
    /*padding:20px 20px 0px 20px;*/
    margin-left: 8px;
    height: 300px !important;
    margin-top: 20px;
}
.video {
	width: 30%;
	padding-top: 50px;
	background: #fff;
	float: right;
	padding-right: 240px;
	background-image: url(../images/aha-bg_1.jpg);
}

.chat {
    background: rgba(0,0,0,0.3) !important;
    float: left;
    padding-top: 50px !important;
    width: 100%;
    margin-top: 30px;
}
/* #output-audio.audio-on {
   top: 0px !important;
   left: 0px !important;
} */
#help {
    display: none;
}
#chat-scroll-wrapper {
    display: block !important; 
    position: relative !important; 
    padding-top: 0.3125rem;
    /* margin-left: 1.25rem; */
    /* border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem; */
    /* background: rgba(0,0,0,0.3); */
    /* right: 173px !important; */
    height: 518px !important;
    width:100%;
    bottom:inherit !important;
    margin: 0 auto;
}
#svg_wrapper {
    margin: 0;
    overflow: hidden;
    position: initial;
}
#chat-flow {
  
}
#input-wrapper {
	position: static !important;
    padding:2%;
    background: #ccc !important;
    float:left;
    width:100%;
    top: 316px !important;
    margin:-87px 0 0;
}

/* .watson-message {
    background:#b60060;
    width:90%;
} */
.button {
    background-color: #00B4A0; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
	margin: 0px 0px 0px 70px;
}

/*#chat-flow:hover {
padding-right: 155px;
}*/
#camFeed {
   
}
#photo {
    /*width: 82.5%;
    margin-left: 70px;*/
    background: #ccc;
    height: 480px !important;
    width: 640px;
}
#sidebar{
    display: none !important; 
}
.takePhoto{
    text-align: center;
}
#welcome-tooltip-dialog{
    display: none !important;
}

/*table  styles begin*/
.ptable {
	border: 1px solid #fff;
	border-collapse: collapse; /*font-size:14px;*/
}
.pthead{background-color: #642d50; height:40px; vertical-align:middle;}
.ptr{background-color:#a66f97;}
/*mobile  devices begin*/