﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    
    <title>Home Page</title>
</head>
<body class="ls-canvas home" id="home">
<div class="inner-wrap container-fluid">
    <!--header Start-->
    <header class="row">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="col-lg-8 col-xs-9 navbar-header">
                  <img class="header-logo img-responsive" src="/images/WBA-logo.png">
                </div>
                <div class="col-lg-4 col-xs-3 pull-right">
                  <div class="user pull-right">
                    <a href="#">
                      <c></c> <span>Logout</span></a>
                  </div>
                </div>
            </nav>
          </header>
          <!--header End-->
 <!-- body start-->
    <div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-watson">
            <div class="panel-heading">
                <div class="welcome">
                    <h3> Welcome
                        <%= name %>
                    </h3>
                </div>
                <div class="row">
                    <div class="landdingpage">
                        <div class="col-xs-12 col-sm-6 col-lg-3">
                            <input type="hidden" id="emailId" name="emailId" value="<%= name %>" />

                            <table class="table profile">
                                <thead>
                                    <tr>
                                        <th style="white-space: nowrap;">Profile Info</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Email ID</td>
                                        <td> <label for="Name"><%= email %></label></td>
                                    </tr>
                                    <tr>
                                        <td>Age Range</td>
                                        <td><label for="Age"><%= age %></label></td>
                                    </tr>
                                    <tr>
                                        <td>Gender</td>
                                        <td><label for="Gender" style="text-transform: lowercase;"><%= gender %></label></td>
                                    </tr>
                                    <tr>
                                        <td>City</td>
                                        <td><label id="ProfileCity" for="City"><%= city %></label></td>
                                    </tr>
                                    <tr>
                                        <td>State</td>
                                        <td><label id="ProfileState" for="State"><%= state %></label></td>
                                    </tr>
                                    <tr>
                                        <td>Country</td>
                                        <td><label id="ProfileCountry" for="Country"><%= country %></label></td>
                                    </tr>
                                </tbody>
                            </table>
                            <button class="btn btn-primary btn-lg form-control" onclick="getLocation()">Update Location</button>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-lg-3">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>My Preferences</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Premium Amount </td>
                                        <td> <label for="Premium-Amount"><%= premium %></label> </td>

                                    </tr>
                                    <tr>
                                        <td>Major Medical Event </td>
                                        <td> <label for="Major-treatment"><%= major %></label> </td>

                                    </tr>
                                    <tr>
                                        <td>Deductible Amount</td>
                                        <td> <label for="Deductible"><%= deductible %></label></td>

                                    </tr>

                                    <tr>
                                        <td>Cancer Treatment </td>
                                        <td> <label for="Cancer"><%= cancer %> </label></td>

                                    </tr>
                                    <tr>
                                        <td>Tobacco User </td>
                                        <td> <label for="Smoking"><%= smoking %></label></td>

                                    </tr>
                                    <tr>
                                        <td>Expecting Parent </td>
                                        <td> <label for="Expecting-Mother"><%= pregnancy %></label></td>

                                    </tr>
                                </tbody>
                            </table>
                            <form action="/video" method="post">
                                <input class="btn btn-primary btn-lg form-control" id="btnVR" type="submit" value="Update Profile Picture" />
                                <input type="hidden" name="username" value="<%= email %>">
                                <input type="hidden" id="name" name="name" value="<%= name %>">
                            </form>
                        </div>
                        <div class="col-lg-6">
                            <img style="display: inline-block" src="/images/ibm_watson_logo_purple.png" class="serviceicon3">
                            <h4 style="display: inline-block" class=""><b>Overwhelmed? Confused? No clue where to begin?</b> </h4>
                            <br>
                            <p class="homepagewatson">Let Watson walk you through the process of finding the right health plan. </p>



                            <div class="homepagewatson">
                                <br />
                                <form action="/chat" method="post" style="margin-bottom:20px;">
                                    <input class="btn btn-primary btn-lg form-control" type="hidden" name="username" value="<%= name %>">

                                    <input class="btn btn-primary btn-lg form-control" id="btnPlans" type="submit" value="Chat with Watson to get started"/>
                                </form>
                                
                            </div>

                        </div>
                    </div>
                </div>
                <!--<div class="row">
                    <div class="landdingpage">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>My Preferences</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Premium Amount  </td>
                                    <td> <label for="Premium-Amount">$<%= premium %></label> </td>

                                </tr>
                                <tr>
                                    <td>Major Medical Event  </td>
                                    <td> <label for="Major-treatment"><%= major %></label> </td>

                                </tr>
                                <tr>
                                    <td>Deductible  </td>
                                    <td> <label for="Deductible">$<%= deductible %></label></td>

                                </tr>

                                <tr>
                                    <td>Cancer Treatment </td>
                                    <td> <label for="Cancer"><%= cancer %> </label></td>

                                </tr>
                                <tr>
                                    <td>Smoking </td>
                                    <td> <label for="Smoking"><%= smoking %></label></td>

                                </tr>
                                <tr>
                                    <td>Expecting Mother </td>
                                    <td> <label for="Expecting-Mother"><%= pregnancy %></label></td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>-->
            </div>
        </div>

    </div>
    </div>
</div>
    <!-- footer start -->
  <footer class="container-fluid">
        <div class="col-md-8 text-xs-center">
          <span class="white">Copyright © 2017 LiquidHub. All rights reserved. | <a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a></span>
        </div>
          <div class="col-md-4 text-right text-xs-center"><img src="images/lh-logo.svg" alt=" " ></div>
      </footer>
      <!-- footer end -->

</body>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script>
    var geocoder;

    var cityControl = document.getElementById("ProfileCity");
    var stateControl = document.getElementById("ProfileState");
    var countryControl = document.getElementById("ProfileCountry");

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showLocation);
        } else {
            console.log('Geolocation is not supported by this browser.');
        }
    }

    function showLocation(position) {

        displayAddress(position.coords.latitude, position.coords.longitude);
    }

    function displayAddress(latitude, longitude) {
        var request = new XMLHttpRequest();

        var method = 'GET';
        var url = 'http://maps.googleapis.com/maps/api/geocode/json?latlng=' + latitude + ',' + longitude + '&sensor=true';
        var async = true;

        request.open(method, url, async);
        request.onreadystatechange = function () {
            if (request.readyState == 4 && request.status == 200) {
                var data = JSON.parse(request.responseText);
                var address = data.results[0];
                var city = '';
                var region = '';
                var country = '';

                if (data.results[1]) {
                    var indice = 0;
                    for (var j = 0; j < data.results.length; j++) {
                        if (data.results[j].types[0] == 'locality') {
                            indice = j;
                            break;
                        }


                        for (var i = 0; i < data.results[j].address_components.length; i++) {
                            if (data.results[j].address_components[i].types[0] == "locality") {
                                //this is the object you are looking for
                                city = data.results[j].address_components[i];
                            }
                            if (data.results[j].address_components[i].types[0] == "administrative_area_level_1") {
                                //this is the object you are looking for
                                region = data.results[j].address_components[i];
                            }
                            if (data.results[j].address_components[i].types[0] == "country") {
                                //this is the object you are looking for
                                country = data.results[j].address_components[i];
                            }
                        }
                    }

                    //city data
                    // x.innerHTML = "City:" + city.long_name + " State: " + region.long_name + " Country: " + country.short_name;
                }
                if (country.long_name != null && region.long_name && city.long_name) {
					var username = document.getElementById("name").value;
                    $.ajax({
                        type: "POST",
                        url: "/UpdateLocInfo",
						data: '{"emailId" : "' + username + '","country" : "' + country.long_name + '","state" : "' + region.long_name + '","city" : "' + city.long_name + '"}',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data, status, jqXHR) {
                            alert("Location Updated Successfully.");
                        },
                        error: function (xhr) {
                            //alert(xhr.responseText);
                            //alert('Location Updated Error');
                        }
                    }); // Endo of Ajax Call....
                }// END of IF..........................
            }
        };
        request.send();
    };
</script>

</html>