﻿<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Login Page</title>
  <!-- build:css css/main.min.css -->
  <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/validator.min.js"></script>
  <script>
    $(function () {
      $('#messaging').hide();
      $('#login-form-link').click(function (event) {
        $("#loginForm").delay(100).fadeIn(100);
        $("#registerForm").fadeOut(100);
        $('#register-form-link').removeClass('active');
        $(this).addClass('active');
        event.preventDefault();
      });
      $('#register-form-link').click(function (event) {
        $("#registerForm").delay(100).fadeIn(100);
        $("#loginForm").fadeOut(100);
        //$('#login-form-link').removeClass('active');
        $(this).addClass('active');
        event.preventDefault();
      });
    });

  </script>
</head>


<body class="login-bg" id="">
  <div class="container-fluid inner-wrap">
  <!--header Start-->
    <header class="row">
      <nav class="navbar navbar-inverse" role="navigation">
          <div class="col-lg-8 col-xs-9 navbar-header">
            <img class="header-logo img-responsive" src="/images/WBA-logo.png">
          </div>
 
          <div class="col-lg-4 col-xs-3 pull-right">
            <div class="user pull-right">
              <!--<a href="#">-->
                <c></c> <span>Logout</span></a>
            </div>
          </div>
      </nav>
    </header>
    <!--header End-->

    <div class="row">
      <div class="col-lg-4 col-lg-offset-4">
        <h3 class="heading"> Sign in to your Benefit Advisor </h3>
        <div class="panel panel-login login-width">

          <!-- HEADING 
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-6">
                <a href='/login/authenticateUser' class="active" id="login-form-link">Login</a>
              </div>
              <div class="col-xs-6">
                <a href="" id="register-form-link">Register</a>
              </div>
            </div>
          </div>-->
          <!-- END HEADING -->

          <!-- ERROR MESSAGE -->
          <div>
            <p style="color:red;text-align:center;">
            </p>
          </div>
          <!-- END ERROR MESSAGE -->

          <!-- BODY -->
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-12">

                <!-- LOGIN FORM -->
                <form id="loginForm" action="/authenticateUser" method="post" data-toggle="validator" data-disable="true" role="form" style="display: block;">
                  <div class="form-group">
                    <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Enter Username" value=""
                      required>
                  </div>
                  <div class="form-group">
                    <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Enter Password" required>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="buttons">
                        <input type="hidden" name="action" value="login">

                        <input type="hidden" name="logon" value="${now}">
                        <input type="submit" name="login-submit" id="login-submit" tabindex="3" class="form-control btn btn-login" style="cursor:pointer" value="Log In" >
                        <input type="submit" name="login-register" id="register-form-link" tabindex="4" class="form-control btn btn-login" style="cursor:pointer" value="Register">
                      </div>
                    </div>
                  </div>
                  <div id="messaging" class="hide <%= showMessage %>">
                    <div class="alert alert-<%= display %> fade in">
                      <a class="close" data-dismiss="alert">&times;</a>
                      <strong></strong>
                      <%= info %>
                    </div>
                  </div>
                </form>
                <!-- END LOGIN FORM-->

                <!-- REGISTER FORM -->
                <form id="registerForm" action="/registerUser" method="post" role="form" data-toggle="validator" data-disable="true" style="display: none;">
                  <div class="form-group">
                    <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Enter Username"
                      value="" required>

                  </div>
                  <div class="form-group">

                    <div class="form-group">
                      <input type="text" name="email" id="email" tabindex="2" class="form-control" placeholder="Enter Email ID"
                        value="" required>

                    </div>
                    <div class="form-group">
                      <input type="password" name="password" id="inputpassword" tabindex="3" class="form-control" placeholder="Enter Password"
                        required>

                    </div>
                    <div class="form-group">
                      <input type="password" name="confirm-password" id="confirm-password" tabindex="4" class="form-control" data-match="#inputpassword"
                        data-match-error="Passwords don't match" placeholder="Confirm Password" required>
                      <div class="help-block with-errors"></div>
                    </div>

                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div>
                        <input type="hidden" name="action" value="register">
                        <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">

                      </div>
                    </div>
                  </div>
                </form>
                <!-- END REGISTER FORM -->

              </div>
            </div>
          </div>
          <!-- END BODY -->

        </div>
      </div>
    </div>
  </div>
  <!-- footer start -->
  <footer class="container-fluid">
    <div class="col-md-8 text-xs-center">
      <span class="white">Copyright © 2017 LiquidHub. All rights reserved. | <a>Privacy Policy</a> | <a>Terms of Use</a></span>
    </div>
      <div class="col-md-4 text-right text-xs-center"><img src="/images/lh-logo.svg" alt="" ></div>
  </footer>
  <!-- footer end -->
</html>