﻿<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="copyright" content="Copyright © 2016 I.B.M. All rights reserved.

         Licensed under the Apache License, Version 2.0 (the “License”);
         you may not use this file except in compliance with the License.
         You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

         Unless required by applicable law or agreed to in writing, software
         distributed under the License is distributed on an “AS IS” BASIS,
         WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
         See the License for the specific language governing permissions and
         limitations under the License.">
	<meta name="description" content="Watson Benefit Advisor Application">
	<title>Watson Benefit Advisor Application</title>
	<!-- build:css css/main.min.css -->
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<!--<link rel="stylesheet" type="text/css" href="/css/tooltip-dialogs.css">-->
	<link rel="stylesheet" type="text/css" href="/css/conversation.css">
	<link rel="stylesheet" type="text/css" href="/css/sidebar.css">
	<link rel="stylesheet" type="text/css" href="/css/weather.css">
	<link rel="stylesheet" type="text/css" href="/css/font.css">
	<link rel="stylesheet" type="text/css" href="/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="/css/responsive.css">



	<!-- endbuild -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="ct" content="vPWQz9kc-2sDXDdB6m_K5RLm_mwStA0c3cyo">
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body onload="init();" style="background-color: transparent;overflow-x: hidden;">
	<!--<div id="dark-overlay" class="overlay"></div>
	<div id="clear-overlay" class="overlay"></div>-->
	<!--The main car dashboard SVG-->
	<div id="svg_wrapper">
		<!--<div id="output-audio" class="audio-on" onclick="TTSModule.toggle()" value="ON" style="visibility: hidden"></div>-->
		<!--<button id="help" class="tooltip-dialog-btn" onclick="Sidebar.toggle()">What can I ask?</button>-->
		<div id="svg_size">
			<svg id="svg_canvas" viewBox="0 0 0 0" version="1.1" xmlns="http://www.w3.org/2000/svg"></svg>
		</div>
        <div class="vidoContainer1">
            <div class="row">
                <div class="col-sm-6">
                    <video id="camFeed" autoplay></video>
                    <input style="width:180px;margin-left:220px;" class="btn btn-primary btn-lg form-control" type="button" value="Take Photo" onclick="takePhoto();">
                </div>
                <div class="col-sm-6">
                    <canvas id="photo"></canvas>
                    <form action="" method="post" style="float:right;position:relative; left:-256px;">                        
                        <input style="width:180px;" class="btn btn-primary btn-lg form-control" type="submit" id="UpdProfile" name="UpdateProfile" value="Update Profile" />
                        <input style="width:180px;" class="btn btn-primary btn-lg form-control" type="hidden" id="eID" name="emailId" value="<%= emailId %>" />
                        <input style="width:180px;" class="btn btn-primary btn-lg form-control" type="hidden" id="userName" value="<%= name%>" />
                        <input style="width:180px;" class="btn btn-primary btn-lg form-control" type="hidden" name="photoURL" value="" />

                    </form>
                </div>


                <div class="clear-both"></div>

           
            </div>
            <!--<div class="takePhoto">
               
              
                
            </div>-->
            <div id="messaging" class="hide <%= showMessage %>">
                <div class="alert alert-<%= display %> fade in">
                    <a class="close" data-dismiss="alert">&times;</a>
                    <strong></strong><%= info %>
                </div>
            </div> 
            <!--Video-->
        </div>
	      <div class="chat" style="padding-top: 140px; visibility: hidden">
				<div id="chat-scroll-wrapper"><div id="chat-flow"></div></div>
				<div id="input-wrapper" class="responsive-columns-wrapper">
					<div id="input-mic-holder">
						<!--<div id="input-mic" class="inactive-mic" onclick="STTModule.micON()"></div>-->
					</div>
					<label for="user-input" class="input-outline responsive-column">
						<input id="user-input" type="text" placeholder="Type something, e.g. “I am looking for benefit plans”">
					</label>
				</div>
			</div>
          
		
     
		<!--<div id="tooltip-dialog-list"></div>-->
		<div id="sidebar">
			<!--<div class="close-div" onclick="Sidebar.toggle()">
				<img src="/images/close-button.png" class="close" alt="close" />
			</div>-->
			<p class="pre-bar">I’m trained on these topics:</p>
			<ul id="suggestion-list"></ul>
		</div>
	</div>
	<script>
		// For cloaking. Done in JS for the case of disabled JS (i.e. even though not much will work, something will be displayed.)
		document.body.style.visibility = 'hidden';
	</script>
	<!-- build:js vendor.min.js -->
	<script src="/js/libs/snap.svg.js"></script>
	<script src="/js/fetch.js"></script>
	<!-- endbuild -->
	<!-- build:js dashboard.min.js -->
	<script src="/js/common.js"></script>
	<script src="/js/api.js"></script>
	<script src="/js/sidebar.js"></script>
	<!--<script src="/js/tooltip-dialogs.js"></script>-->
	<script src="/js/animations.js"></script>
	<script src="/js/panel.js"></script>
	<script src="/js/conversation.js"></script>
	<script src="/js/conversationResponse.js"></script>
	<script src="/js/global_video.js"></script>
	<script src="/js/ui_tests/tests.js"></script>
	<!-- endbuild -->
	<script src="/js/watson-speech.min.js"></script>
	<!--<script src="/js/speech-to-text.js"></script>
	<script src="/js/text-to-speech.js"></script>-->
	<script>
		function init() {
			if (navigator.webkitGetUserMedia) {
				navigator.webkitGetUserMedia({ video: true }, onSuccess, onFail);
			}
			else {
				alert('webRTC not available');
			}
		}

		function onSuccess(stream) {
            //document.getElementById('camFeed').src = webkitURL.createObjectURL(stream);
            document.getElementById('camFeed').srcObject = stream;
		}

		function onFail() {
			alert('could not connect stream');
		}

        function takePhoto() {
         	var c = document.getElementById('photo');
			var v = document.getElementById('camFeed');

            c.getContext('2d').drawImage(v, 0, 0, 300, 150);
            //window.location = canvas.toDataURL("image/png");
        }

		//document.getElementById('download').addEventListener('click', function () {
		//	downloadCanvas(this, 'photo', 'test.jpg');
		//}, false);

		function downloadCanvas(link, canvasId, filename) {
			link.href = document.getElementById(canvasId).toDataURL();
			link.download = filename;
        }

        $(function () {
            $("#UpdProfile").click(function () {
                var image = document.getElementById("photo").toDataURL("image/jpeg");
                var emailId = document.getElementById("eID").value;
                var userName = document.getElementById("userName").value;
                image = image.replace(/^data:image\/\w+;base64,/, '');               

                $.ajax({
                    type: 'POST',
                    url: '/updateProfile',
                    //data: '{ imageData : ' + image + '}',
                    data: '{ "imageData" : "' + image + '","emailId" : "' + emailId + '","userName" : "' + userName + '"}',                    
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    //processData:false,
                    success: function (data) {
                        console.log(data);
                    },                    
                    error: function (jqXHR, exception) {
                        var msg = '';
                        if (jqXHR.status === 0) {
                            msg = 'Not connect.\n Verify Network.';
                        } else if (jqXHR.status == 404) {
                            msg = 'Requested page not found. [404]';
                        } else if (jqXHR.status == 500) {
                            msg = 'Internal Server Error [500].';
                        } else if (exception === 'parsererror') {
                            msg = 'Requested JSON parse failed.';
                        } else if (exception === 'timeout') {
                            msg = 'Time out error.';
                        } else if (exception === 'abort') {
                            msg = 'Ajax request aborted.';
                        } else {
                            msg = 'Uncaught Error.\n' + jqXHR.responseText;
                        }
                    }
                });
            });
        });

	</script>
</body>
</html>
